.users-list{
    margin: 30px;
    width: 400px;
    min-height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 68px 45px 45px;
    display: flex;
    flex-direction: row;
}

.users-list a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid rgb(1, 115, 128);
    background: none;
    margin-top: 10px;
    color: rgb(1, 115, 128);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.users-list a:hover{
    background: rgb(1, 115, 128);
    color: #fff;
}

ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 50px;
    background-color: rgb(225, 225, 225);
}

.users-list img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}